.category-skeleton,
.price-skeleton,
.title-skeleton {
  width: 126.63px;
  height: 21.33px;
  background-color: #525579;
  border-radius: 15px;
}

.price-skeleton {
  width: 134.44px;
  height: 40.22px;
}

.title-skeleton {
  width: 150.45px;
  height: 28.44px;
}
