@import "./variables.scss";
@import "./default-styles.scss";
@import "./user-card.scss";
@import "./card.scss";
@import "./item.scss";
@import "./skeletons.scss";

.xl-visible {
  display: none;

  @media (min-width: 976px) {
    display: block;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding: 2rem 1.5rem 3rem;

  @media (min-width: 768px) {
    padding: 3rem;
  }

  @media (min-width: 976px) {
    padding: 5rem 7rem 5rem 7.32rem;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;

  @media (min-width: 976px) {
    flex-direction: row;
  }
}
